@import '../../scss/variables';

.map-view {
  background-image: url('../../images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 88vh;
  width: 100vw;
}

.map-container-subheader {
  display: flex;
  justify-content: space-between;
  background-color: $dark-color;
  height: 10%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.map-subheader {
  font-family: $accent-font;
  font-size: 2em;
  margin: 0px 1em;
  color: $light-grey;
  font-weight: 200;
  width: auto;
}

.map-card-view {
  float: right;
  margin: 10% 15%;
  position: relative;
  z-index: 100;
}

.card-subtitle {
  font-size: 1.5em;
  margin: 0em;
}

.map-button {
  float: right;
  font-size: 1.35em;
  font-family: $main-font;
  margin: .25em;
  padding: 0em 1em -1em 1em;
  width: 10em;
  height: 2em;
  border-style: none;
  background-color: $medium-grey;
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      background-color: $dark-grey;
    }
    &:focus {
      background-color: $wishlist-color;
    }
}
