.map-view {
  background-image: url('../../images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 88vh;
  width: 100vw;
  // display: flex;
  // justify-content: space-between;

  // flex-direction: column;
  // align-items: center;
  // overflow: auto;
}

.map-card-view {
  float: right;
  margin: 10% 15%;
}

.card-subtitle {
  font-size: 1.5em;
  margin: 0em;
}
