@import '../../scss/variables';

.form-container {
  background-image: url('../../images/background.jpg');
  background-size: contain;
  background-position: center;
  height: 88vh;
  width: 100vw;
}
