@import '../../scss/variables';

.form-container {
  background-image: $background-image;
  background-size: contain;
  background-position: center;
  height: 88vh;
  width: 100vw;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 20em;
  align-items: center;
  background-color: $dark-color;
  border: 2px solid $medium-grey;
  position: absolute;
  z-index: 2;
  top: 18em;
  left: 43%;
  padding: 1em;
}


.input-label {
  color: $light-grey;
  font-size: 1.75em;
  font-family: $accent-font;
  margin: .25em;
}

.form-input {
  font-size: 1.5em;
  font-family: $main-font;
  width: 12em;
  margin-bottom: .75em;
  padding: .2em;
    ::placeholder {
      color: $medium-grey;
      font-style: italic;
      font-weight: 300;
    }
}

.form-button {
  font-size: 1.5em;
  margin: 1em;
  width: 12em;
  font-family: $accent-font;
  background-color: $dark-grey;
  border-style: none;
  padding: .25em;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: $medium-grey;
  }
}

.error {
  color: $favorite-color;
  font-family: $main-font;
}
