@import '../../scss/variables';

.locations-container {
  background-image: url('../../images/background.jpg');
  background-size: contain;
  background-position: center;
  height: 88vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.location-subheader {
  font-family: $accent-font;
  font-size: 3em;
  margin: 0px 42% 10px 42%;
  color: $light-grey;
  font-weight: 200;
  width: auto;
}
