@import '../../scss/variables';

.locations-container {
  background-color: $dark-color;
}

.location-subheader {
  font-family: $accent-font;
  font-size: 3em;
  margin: 0px 42% 10px 42%;
  color: $light-grey;
  font-weight: 200;
  width: auto;
}
