@import '../../scss/variables';

.card {
  font-family: $main-font;
  width: 50em;
  margin: 2em;
  padding: 2em 2em 1em 2em;
  background-color: $light-grey;
}

.card-title {
  font-family: $main-font;
  color: $dark-color;
  font-size: 2em;
  margin-top: 0em;
}

.card-description {
  color: $dark-color;
  font-family: $main-font;
  font-size: 1.15em;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
}

.card-button-container {
  display: flex;
  flex-direction: column;

}

.card-button {
  display: block;
  float: right;
  font-size: 1.25em;
  font-family: $main-font;
  margin: .25em;
  width: 100%;
  border-style: none;
  background-color: $medium-grey;
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      background-color: $dark-grey;
    }

}
