@import '../../scss/variables';

* {
  border: 1px solid red;
}

.card {
  font-family: $main-font;
  width: 50em;
  margin: 0em 2em 2em 2em;
  padding: 2em 2em 1em 2em;
  background-color: $light-grey;
  border: 1.5px solid $dark-color;
}

.card-title {
  font-family: $main-font;
  color: $dark-color;
  font-size: 2em;
  margin-top: 0em;
}

.card-description {
  color: $dark-color;
  font-family: $main-font;
  font-size: 1.15em;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.card-button {
  float: right;
  font-size: 1.35em;
  font-family: $main-font;
  margin: .25em;
  padding: 0em 1em -1em 1em;
  width: 10em;
  height: 2em;
  border-style: none;
  background-color: $medium-grey;
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      background-color: $dark-grey;
    }
}

.remove-button {
  width: 11.7em !important;
  height: 2.5em !important;
  background-color: $wishlist-color !important;
  font-size: 1.15em !important;
}
