@import '../../scss/variables';

.header {
  background-color: $dark-color;
  color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: fixed;
}

.main-header {
  height: 2em;
  font-family: $accent-font;
  font-size: 4em;
  font-weight: 200;
  margin-bottom: -.5em;
}

.header-line {
  width: 26em;
  border-top: 1px solid $medium-grey;
  height: .5em;
}
