@import '../../scss/variables';

.no-url-container {
  background-color: $dark-color;
  text-align: center;
  height: 100vh;
}

.no-url-match-message {
  font-family: $accent-font;
  color: $light-grey;
  font-size: 2em;
  font-weight: 200;
  height: 100vh;
  padding-top: 5em;
  margin-top: -1em;
}
