$accent-font: 'Noto Serif SC', serif;
$main-font: 'Lato', sans-serif;
$dark-color: #000;
$light-color: #fff;
$favorite-color: #be3a30;
$wishlist-color: #a88905;
$light-grey: #c7d0d8;
$medium-grey: #a6a6a6;
$dark-grey: #737373;
